/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*
{
    font-family:Arial, Helvetica, sans-serif;
}

/* GENERAL */

.box{
    width: 100%;
    padding: 20px;
    background-color: blue;
    border: 1px solid white ;
    color: white;
}

.box-of-box{
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 207, 0);
    border: 1px solid white ;
    color: white;
}